/* Reset

*/

*{
    font-family: "Ubuntu", sans-serif;
}

/*========= HEADER ===========*/
.menu-navegacion{
    background-color: #6b0604c5;
    display: flex;
    margin-bottom: 30px;
}

.menu-navbar{
    display: flex;
    width: 100%;
    

}

.menu-navbar img{
    width: 10%;
    height: min-content;
    display: flex;
    margin: auto;
    
}    

.container-list{
    display: flex;
    width:100%;
    justify-content: end;
    align-items: center;
}


.container-list li{
    list-style: none;;
    display: flex;
    margin: 10px;
}

.container-list li a{
    color: #FAFAFA;
    text-decoration: none;
    display: flex;
    font-size: small;
    text-align: center;
}

/*========= MAIN ===========*/
/*texto encabezado*/
.text-inicio{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-left: 3%;
    padding-top: 3%;
}

.text-inicio h1{
    font-size: 2rem;
    margin-top: 10px;
}

.text-inicio h2{
    font-size: 2rem;
    margin-bottom: 40px;
}

.text-inicio p{
    margin-top: 5px;
    font-size: 17px;
}

.text-inicio h3{
    font-size: small;
    font-style: italic;
    margin-top: 25px;

}
/*carrusel*/

.carrusel-inicio{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.carousel{
    width:70%;
    margin-bottom: 20px;
}

/*texto info extra en inicio*/

.text-info-extra{
    display: flex;
    text-align: justify;  
}

.text-info-extra h3{
    text-align: center;
    padding: 4%;

}
.card{
    padding: 5%;
    border: none;
}

/*========= FOOTER ===========*/

.container-footer{
    background-color: #1c160d;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    justify-content: center;
}

.container-footer img{
    width: 10%;
    margin-top: 1%;
}

.container-footer p{
    font-size:x-small;
    margin-top: 1%;
}

.navbar-footer{
    width: 100%;
    text-align: center;
}
.container-list-footer{
    display: flex;
    width: 100%;
    font-size: x-small;
    justify-content: center;
    margin-bottom: 0.5%;
    margin-top: 1%;
    padding-left: 0%;
    
}

.container-list-footer li{
    list-style: none;;
    display: flex;
}

.container-list-footer li a{
    color: #FAFAFA;
    text-decoration: none;
    margin: 4px;
    text-align: center;
}

.redes-footer{
}

.bi{
    margin-left: 7px;
    width:16px;
    height:16px;
}